.popup__save {
    width: 238px;
    height: 46px;
    background-color: #000;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    margin-bottom: 37px;
    color: #fff;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    padding: 0;
}

.popup__save:hover {
    opacity: .6;
}